body {
    font-family: Roboto, sans-serif;
    width: 1440px;
    margin: auto;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 12px 208px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link-container {
    padding-top: 6px;
}

a {
    text-decoration: none;
    margin-left: 18px;
}

.title-blurb,
.header-link,
.title-image {
    font-size: 18px;
    color: #e5e7eb;
}

.title-section {
    background-color: #1f2937;
    display: flex;
    gap: 36px;
    height: 265px;
    margin: 0px;
    padding: 108px 200px;
}

.title-info {
    padding: 0;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title-image {
    background-color: #6d747d;
    height: 240px;
    width: 1025px;
    margin-top: 10px;
}

.title-image p {
    padding:109px 0px;
    text-align: center;
}

.content {
    background-color: #fff;
    height: 496px;
}

.testimonials {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    height: 430px;
}

.banner-section {
    background-color: #fff;
    height: 350px;
}

.footer {
    background-color: #1f2937;
    height: 100px;
}

.title-btn {
    padding-top: 10px;
}

button {
    background-color: #3882f6;
    font-weight: bold;
    font-size: 18px;
    color: #f9faf8;
    width: 132px;
    height: 38px;
    border-radius: 8px;
    border: none;
}